h1{
  text-align: center;
}

.marker{
  width: 200px;
  height: 25px;
  margin: 10px auto;
}

/* 
Style Section for CSS Primary Colors
*/

.container{
  background-color: rgb(0, 0, 0);
  padding: 10px 0;
  margin-bottom: 10px;
}

.one{
  background-color: red;
}
.two{
  background-color: green;
}
.three{
  background-color: blue;
}

/* 
Style Section for CSS RGB Colors
*/

.rgb_one{
  background-color: rgb(255, 0, 0);
}
.rgb_two{
  background-color: rgb(0, 255, 0);
}
.rgb_three{
  background-color: rgb(0, 0, 255);
  
}
/* 
  Black Colors are lower in digit
  background-color: rgb(0,0,0);

  Light Colors are higher in digit
  background-color: rgb(255,255,255);

  For lighter color intensity use 127

  sample!
  background-color: rgb(0, 127, 0); 

  For Secondary Colors like:

  Yellow
  background-color: rgb(255, 255, 0);

  Cyan
  background-color: rgb(0, 255, 255);

  Magenta
  background-color: rgb(255, 0, 255);

  For Tertiary Colors like:
  
  Orange
  background-color: rgb(255, 127, 0);

  Spring Green
  background-color: rgb(0, 255, 127);

  Violet
  background-color: rgb(127, 0, 255);

  Chartreuse green
  background-color: rgb(127, 255, 0);

  Azure
  background-color: rgb(0, 127, 255);

  Rose
  background-color: rgb(255, 0, 127);
*/

/* 
Style Section for CSS HEX Colors
*/

.hex_one{
  background-color: #FFFF00;
}
.hex_two{
  background-color: #00FFFF;
}
.hex_three{
  background-color: #FF00FF;
}

/* 
  For lighter color intensity

  background-color: #007F00;

  you have to lower the value
  
  If you want to generate color palettes in hexadecimal values go to: https://coolors.co

  sample color palette

  background-color: #0D1B1E;

  background-color: #7798AB;

  background-color: #C3DBC5;

*/

/* 
  Style Section for CSS HSL Colors
*/

.hsl_one{
  background-color: hsl(203, 21%, 71%);
}
.hsl_two{
  background-color: hsl(189, 13%, 81%);
}
.hsl_three{
  background-color: hsl(0, 25%, 98%);
}

/* 
  Style Section for CSS Linear Gradient

  Syntax:
  linear-gradient(gradientDirection, color1, color2, ...);

  If no gradientDirection argument is provided to the linear-gradient function, it arranges colors from top to bottom, or along a 180 degree line, by default.

*/

.linear_gradient_one{
  background: linear-gradient(90deg, rgb(255,0,0), rgb(0,255,0), rgb(0, 0, 255));
}

/* 
  Style Section for CSS Linear Gradient

  linear-gradient(90deg, color1 90%, color2);

  Color-stops allow you to fine-tune where colors are placed along the gradient line. They are a length unit like px or percentages that follow a color in the linear-gradient function.
*/

.linear_gradient_two{
  background: linear-gradient(180deg, rgb(255,0,0) 0%, rgb(0,255,0) 50%, rgb(0, 0, 255) 100%);
}

/* 
 Style Section for CSS Linear Gradient

 You can also use hex colors or hsl
*/

.linear_gradient_three{
  background: linear-gradient(180deg, hsl(186, 76%, 16%), #71F53E, #116C31);
}

/* 
  Section for Opacity

  With the CSS opacity property, you can control how opaque or transparent an element is. With the value 0, or 0%, the element will be completely transparent, and at 1.0, or 100%, the element will be completely opaque like it is by default.

*/

.sleeve1{
  width: 110px;
  height: 25px;
  background-color: white;
  opacity: 0.5;
}

/* 
  Section for Opacity Through Alpha Channel

   The alpha channel controls how transparent or opaque a color is 
   To add an alpha channel to an rgb color, use the rgba function instead.

   Syntax:
   rgba(redValue, greenValue, blueValue, alphaValue);
*/

.sleeve2{
  width: 110px;
  height: 25px;
  background-color: rgba(255, 255, 255, 50%);
}

/* 
  Section for Border

  The border-left shorthand property lets you to set the left border's width, style, and color at the same time.

  border-left: width style color;
*/

.cap, .sleeve3{
  display: inline-block;
}

.sleeve3{
  width: 110px;
  height: 25px;
  background-color: rgba(255, 255, 255, 50%);
  border-left: 10px double rgba(0, 0, 0, 75%);
}

.cap{
  width: 60px;
  height: 25px;
}