h1{
  text-align: center;
}

.marker{
  width: 200px;
  height: 25px;
  margin: 10px auto;
}

.container{
  background-color: rgb(0, 0, 0);
  padding: 10px 0;
  margin-bottom: 10px;
}

.one{
  background-color: red;
}
.two{
  background-color: green;
}
.three{
  background-color: blue;
}

.container_for_RGB{
  background-color: rgb(0, 0, 0);
  padding: 10px 0;
}

.rgb_one{
  background-color: rgb(255, 0, 0);
}
.rgb_two{
  background-color: rgb(0, 255, 0);
  /* 
  lighter color
  background-color: rgb(0, 127, 0); 
  */
}
.rgb_three{
  background-color: rgb(0, 0, 255);
}